
    p {
        font-family: Arial;
        /* This font is applied to all the paragraphs not need to specify in all paragraph classes */
        margin-top: 0;
        margin-bottom:15px;
    }
    .video-title {
        font-size: 18px;
        font-weight: bold;
        font-size: 18px;
        width: 300px;
        line-height: 25px; /*heigth between the lines*/
        margin-bottom:5px;
    }


    .video-stats {
        color:rgb(110, 105, 105);
        font-size:12px;
    }
    .channel-name {
        font-size: 12px;
        color: rgb(110, 105, 105);
    }
    .description {
        font-size: 12px;
        color: rgb(110, 105, 105);
        width: 240px;
        line-height: 15px;
        margin-bottom: 100px;
    }
    .apple-text {
        margin-bottom:100px;
        font-size: 12px;
        background-color: rgb(227,65,64);
        color: white;
        width: 400px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        }
    
    .shop-link {
        cursor: pointer;
    }

    .shop-link:hover {
        text-decoration:underline
    }
